$btnCor: #397cff;
$background: #49d1f0;
$branco: #ffffff;
$passaro: #fff464;
$carro: #695d8f;
$caranguejo: #ffcd5f;
$fogo: #a83535;
$fim: #4cdd86;
$preto: black;
$azulClaro: #40c9ff;
$amarelo: #ffbc0a;
$azulmedio: #279cb7;
$amareloCasa: #eeeccc;
$amareloPassaro: #e2d858;
$roxo: #554b73;
$poco: #c9c9c9;
$shadowcaranguejo: #d2a950;
$fogoInferno: #772525;
$verde: #3db06b;
$modal: #423b59;
$bege: #c3c1a6;
$azulEscuro: #241aaa;
$AzulEscuro2: #193365;
$vermelho: red;
